.hero-parent {
    display: flex;
    justify-content: space-evenly;
}
.hero-text {
    display: flex;
    width: 30%;
    justify-content: center;
    .tagline {
        width: 80%;
    }
}
.hero-image {
    display: flex;
    width: 70%;
}