{% extends "juice.html" %}

{% block head %}
{% endblock head %}

{% block hero %}
<div class="hero-parent">
    <div class="hero-text">
        <h1 class="tagline">
            Easy to use, customizable, efficient 3D renderer library written in pure rust
        </h1>
    </div>

    <video autoplay muted loop disableRemotePlayback class="hero-video">
        <source src="https://cdn.cwfitz.com/rend3.rs/scifi-demo.mp4" type="video/mp4">

        <img src="{{ get_url(path='scifi-base.jpg') }}">
    </video>
</div>
{% endblock hero %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ get_url(path='logo.png') }}">
{% endblock favicon %}

{% block content %}

{% endblock content %}
